<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Car test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form method="post" action="addRecord">
            <input type="text" name="brand" placeholder="brand">
            <input type="text" name="model" placeholder="model">
            <input type="text" name="releaseYear" placeholder="release_year">
            <input type="text" name="releaseMonth" placeholder="release_month">
            <input type="number" name="engineVolume" placeholder="engine_volume">
            <input type="text" name="turbocharger" placeholder="turbocharger">
            <input type="number" name="enginePower" placeholder="engine_power">
            <input type="text" name="transmission" placeholder="transmission">
            <input type="text" name="driveUnit" placeholder="drive_unit">
            <input type="text" name="body" placeholder="body">
            <input type="text" name="color" placeholder="color">
            <input type="submit" value="Submit"/>
        </form>

        <form method="post" action="updateRecord">
            <input type="text" name="id" placeholder="id">
            <input type="text" name="brand" placeholder="brand">
            <input type="text" name="model" placeholder="model">
            <input type="text" name="releaseYear" placeholder="release_year">
            <input type="text" name="releaseMonth" placeholder="release_month">
            <input type="number" name="engineVolume" placeholder="engine_volume">
            <input type="text" name="turbocharger" placeholder="turbocharger">
            <input type="number" name="enginePower" placeholder="engine_power">
            <input type="text" name="transmission" placeholder="transmission">
            <input type="text" name="driveUnit" placeholder="drive_unit">
            <input type="text" name="body" placeholder="body">
            <input type="text" name="color" placeholder="color">
            <input type="submit" value="Update"/>
        </form>

        <form method="post" action="deleteRecord">
            <input type="text" name="id" placeholder="id">
            <input type="submit" value="Delete Record"/>
        </form>
        <p th:text="${errorMessage}" >Error Message</p>

        <label>Cars table</label>
        <a th:href="@{/export}">Export to excel</a>
        <table border="1" style="width:300px">
            <tr>
                <td th:text="id"></td>
                <td th:text="brand"></td>
                <td th:text="model"></td>
                <td th:text="releaseYear"></td>
                <td th:text="releaseMonth"></td>
                <td th:text="engineVolume"></td>
                <td th:text="turbocharger"></td>
                <td th:text="enginePower"></td>
                <td th:text="transmission"></td>
                <td th:text="driveUnit"></td>
                <td th:text="car.body"></td>
                <td th:text="color"></td>
            </tr>
            <tr th:each="car : ${cars}">
                <td th:text="${car.carId}"></td>
                <td th:text="${car.brand}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.releaseYear}"></td>
                <td th:text="${car.releaseMonth}"></td>
                <td th:text="${car.engineVolume}"></td>
                <td th:text="${car.turbocharger}"></td>
                <td th:text="${car.enginePower}"></td>
                <td th:text="${car.transmission}"></td>
                <td th:text="${car.driveUnit}"></td>
                <td th:text="${car.body}"></td>
                <td th:text="${car.color}"></td>
            </tr>
        </table>
    </body>
</html>